
/* General styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0% 5% 5% 5%;
}

/* Header section */
.social-icons {
    display: flex;
    margin-left: 20px;
}

.social-icons a {
    margin-left: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.header .bullets {
    margin-top: 10px;
    text-align: left;
}

.header .bullets ul {
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;
}

.profile-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #111;
    max-width: 800px;
    margin: 40px auto 20px auto;
}

.profile-left {
    flex: 0 0 auto;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit:cover;
}

.profile-middle {
    flex-grow: 1;
    text-align: left;
    padding-left: 20px;
}

.profile-middle h2 {
    margin: 0;
    font-size: 1.5em;
}

.profile-middle p {
    margin: 5px 0;
}

.profile-right {
    flex: 0 0 auto;
    display: flex;
    gap: 15px;
}

.profile-right a img {
    width: 30px;
    height: 30px;
    /*filter: invert(1);  Makes the icons white for dark mode */
}

/* Separator line */
.separator {
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 1% 0;
}

/* Tabs section */
.tabs {
    margin-top: 20px;
}

.tab {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    max-width: 800px;
    background-color: #111;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #333;
}

.tab img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.tab-content {
    display: none;
    text-align: left;
    margin-top: 10px;
}

.tab.active .tab-content {
    display: block;
}

.tab h2 {
    text-align: left;
    font-size: 1.8em;
    margin: 0;
}

.tab .bullets ul {
    text-align: left;
    list-style-type: disc;
    padding-left: 20px;
    margin: 10px 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .header img {
        margin-bottom: 20px;
    }

    .tab {
        flex-direction: column;
        align-items: flex-start;
    }
}
